# Microsoft / Outlook SMTP Zugangsdaten
SMTP_USER=pius@nightscale.ai
SMTP_PASSWORD=Joya2007!
SENDER_NAME=Pius Martin

# Standard fuer Microsoft 365 Business
SMTP_HOST=smtp.office365.com
SMTP_PORT=587

# Fuer private Outlook.com / Hotmail Accounts stattdessen:
# SMTP_HOST=smtp-mail.outlook.com
# SMTP_PORT=587
